<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Layanan</h2>
    <p><span>Periksa</span> <span class="description-title">Layanan Kami</span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Pengelolaan Data Pemerintahan</h3>
          </a>
          <p>Layanan untuk memanajemen data pemerintah daerah yang akurat dan terintegrasi.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-broadcast"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Pelayanan Publik</h3>
          </a>
          <p>Layanan untuk memfasilitasi masyarakat dalam mengakses layanan publik yang efisien dan mudah.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-easel"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Transparansi Keuangan Daerah</h3>
          </a>
          <p>Menyediakan akses untuk melihat dan memahami alokasi serta pengelolaan anggaran daerah.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-bounding-box-circles"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Perencanaan Pembangunan Daerah</h3>
          </a>
          <p>Layanan yang membantu merencanakan dan mengimplementasikan pembangunan daerah secara terstruktur.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Pengelolaan Jadwal Acara Pemerintah</h3>
          </a>
          <p>Menjadwalkan dan mengatur berbagai acara dan kegiatan pemerintahan untuk masyarakat.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-chat-square-text"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Komunikasi Pemerintah dengan Masyarakat</h3>
          </a>
          <p>Layanan untuk meningkatkan komunikasi antara pemerintah dan masyarakat agar lebih transparan dan responsif.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Services Section -->
