<div class="wrapper">
    <app-chatbot class="chatbot-container"></app-chatbot>
    <app-front-end-header></app-front-end-header>
    <app-front-end-hero></app-front-end-hero>
    <app-front-end-featured-services></app-front-end-featured-services>
    <app-front-end-about></app-front-end-about>
    <app-front-end-skill></app-front-end-skill>
    <!-- <app-front-end-stat></app-front-end-stat> -->
    <!-- <app-front-end-client></app-front-end-client> -->
    <app-front-end-service></app-front-end-service>
    <!-- <app-front-end-testimonials></app-front-end-testimonials> -->
    <!-- <app-front-end-portfolio></app-front-end-portfolio> -->
    <!-- <app-front-end-team></app-front-end-team> -->
    <!-- <app-front-end-pricing></app-front-end-pricing> -->
    <app-front-end-faq></app-front-end-faq>
    <app-front-end-contact></app-front-end-contact>
    <app-front-end-footer></app-front-end-footer>
</div>
