<nav class="app-header navbar navbar-expand bg-body">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
          <i class="bi bi-list"></i>
        </a>
      </li>
      <li class="nav-item d-none d-md-block"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item d-none d-md-block"><a href="#" class="nav-link">Contact</a></li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img
            *ngIf="user?.profil_url; else defaultAvatar"
            [src]="fixProfileUrl(user?.profil_url)"
            class="user-image rounded-circle shadow"
            alt="User Image"
          />        
          <ng-template #defaultAvatar>
            <img src="assets/profile.png" class="user-image rounded-circle shadow" alt="User Image" />
          </ng-template>
          <span class="d-none d-md-inline">{{ user?.username || 'Guest' }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
          <li class="user-header text-bg-primary">
            <img
              *ngIf="user?.profil_url; else defaultUserHeader"
              [src]="user?.profil_url"
              class="rounded-circle shadow"
              alt="User Image"
            />
            <ng-template #defaultUserHeader>
              <img src="assets/profile.png" class="rounded-circle shadow" alt="User Image" />
            </ng-template>
            <p>
              {{ user?.username || 'Guest' }} - Web Developer
              <small *ngIf="user">Member since Nov. 2023</small>
            </p>
          </li>
          <li class="user-footer">
            <a class="btn btn-default btn-flat" *ngIf="user">Profile</a>
            <a class="btn btn-default btn-flat float-end" (click)="logout()">Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
