<section id="about" class="about section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
      <h2>Tentang Kami</h2>
      <p><span>Ketahui Lebih Lanjut</span> <span class="description-title">Tentang Pemerintah Daerah</span></p>
  </div><!-- End Section Title -->

  <div class="container">

      <div class="row gy-3">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/about.jpg" alt="Pemerintah Daerah" class="img-fluid">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <div class="about-content ps-0 ps-lg-3">
                  <h3>Visi dan Misi Pemerintah Daerah untuk Kemajuan Bersama</h3>
                  <p class="fst-italic">
                      Pemerintah Daerah berkomitmen untuk meningkatkan kualitas hidup masyarakat melalui berbagai program dan layanan yang transparan dan efisien.
                  </p>
                  <ul>
                      <li>
                          <i class="bi bi-diagram-3"></i>
                          <div>
                              <h4>Pelayanan Publik yang Cepat dan Efisien</h4>
                              <p>Meningkatkan kualitas pelayanan publik dengan teknologi untuk mempermudah masyarakat dalam mengakses layanan</p>
                          </div>
                      </li>
                      <li>
                          <i class="bi bi-fullscreen-exit"></i>
                          <div>
                              <h4>Pengelolaan Sumber Daya Alam Berkelanjutan</h4>
                              <p>Melakukan pengelolaan sumber daya alam dengan pendekatan yang ramah lingkungan demi kesejahteraan masyarakat</p>
                          </div>
                      </li>
                  </ul>
                  <p>
                      Pemerintah Daerah bertanggung jawab atas kesejahteraan rakyat dengan menyediakan infrastruktur, pendidikan, kesehatan, serta fasilitas sosial lainnya. Kami berkomitmen untuk memberikan layanan yang transparan dan akuntabel bagi seluruh masyarakat.
                  </p>
              </div>

          </div>
      </div>

  </div>

</section>
