.card-body {
  display: flex;
  flex-direction: column;
}

.terminal-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.log-terminal {
  background-color: #000; /* Hitam khas terminal */
  color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 350px; /* Lebih tinggi untuk melihat lebih banyak log */
  font-family: monospace; /* Tampilan khas log */
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  border: 1px solid #444;
  min-width: 100%;
}

.log-entry {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.log-timestamp {
  color: #bbb;
  margin-right: 10px;
  font-weight: bold;
}

.text-success {
  color: #4caf50; /* Hijau khas log info */
}

.text-warning {
  color: #ff9800; /* Oranye khas log warning */
}

.text-danger {
  color: #f44336; /* Merah khas log error */
}

.text-muted {
  color: #9e9e9e; /* Abu-abu untuk debug */
}
