<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">

  <div class="container">

      <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="service-item position-relative">
                  <div class="icon"><i class="bi bi-activity icon"></i></div>
                  <h4><a href="" class="stretched-link">Pelayanan Masyarakat</a></h4>
                  <p>Menawarkan berbagai layanan untuk kebutuhan masyarakat, seperti perizinan dan bantuan sosial</p>
              </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item position-relative">
                  <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                  <h4><a href="" class="stretched-link">Layanan Pengaduan</a></h4>
                  <p>Memfasilitasi masyarakat untuk mengajukan pengaduan terkait pelayanan publik dan isu daerah</p>
              </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item position-relative">
                  <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                  <h4><a href="" class="stretched-link">Jadwal Kegiatan</a></h4>
                  <p>Menyediakan informasi terbaru tentang jadwal kegiatan Pemda, seperti rapat dan acara publik</p>
              </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item position-relative">
                  <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                  <h4><a href="" class="stretched-link">Berita Terbaru</a></h4>
                  <p>Menyampaikan informasi terkini seputar perkembangan Pemerintah Daerah dan program-program unggulan</p>
              </div>
          </div><!-- End Service Item -->

      </div>

  </div>

</section><!-- /Featured Services Section -->
